<!-- Wrapper -->
<div id="wrapper" class="divided">

	<!-- DEAR LETTER -->
	<section class="banner style1 orient-left content-align-left image-position-right  onload-image-fade-in onload-content-fade-right">
		<div class="content">
			<h1>Dear Expectant Parent(s),</h1>
			<p class="major">Thank you for reading about us! We are RJ & Jeff. We have yet to meet you, but we admire your strength, bravery, and courage by considering an adoption plan. We are a fun, loving, and energetic couple who are very excited about being dads. We know that this decision is not easy, but no matter what you choose, we wish you, your child, and your families the best. Thank you for taking the time to learn more about our family.</p>
			<div class="signature">
				<img src="<%= asset_path 'signature.png' %>", width="40%">
			</div>
		</div>
		<div class="image">
		<img src="<%= asset_path 'jr-lake4.jpg' %>" alt="" />
		</div>
	</section>

	<!-- MEET RJ -->
	<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-out shade" id="first">
		<div class="content">
			<h2>MEET R.J.</h2>
			<p>I was born and raised in <a href="https://www.google.com/maps/place/Saginaw,+MI/@43.4249463,-84.0187644,12z/data=!3m1!4b1!4m5!3m4!1s0x8823c24186e758af:0x29e3946d7baef5ac!8m2!3d43.4194699!4d-83.9508068" target="_blank">Saginaw, Michigan</a>. I grew up in a small, loving family with one older sister, whom we see regularly now with her husband and their two children. As a child, I loved playing outside with neighborhood kids, swimming in the local pool, and doing outdoor activities with my dad. We would often go fishing, boating, do gardening and go on nature walks. After graduating from Michigan State, I moved to Chicago, where I finished my graduate degree in public health from the University of Illinois at Chicago. I work as a health research analyst for Walgreens and am a self-proclaimed nerd because of my love of organization, computers, and all things technology. In my free time, I enjoy cooking, all kinds of music, gardening, working around the house, and spending time with family, friends, and our dogs.</p>
		</div>
		<div class="image">
			<img src="<%= asset_path 'rj1.jpg' %>" alt="" />
		</div>
	</section>

	<!-- MEET JEFF -->
	<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
		<div class="content">
			<h2>MEET JEFF</h2>
			<p>I was born and raised in <a href="https://www.google.com/maps/place/Darien,+IL/@41.7399831,-88.0227399,13z/data=!3m1!4b1!4m5!3m4!1s0x880e456168c0548d:0x4c73d0df2621ef7c!8m2!3d41.7483483!4d-87.9737943" target="_blank">Darien, Illinois</a>. I am the youngest of three brothers in a very lively Polish and Italian family. Growing up, I enjoyed playing brothers and friends, sports, and cooking with my Italian grandparents. After graduating from Eastern Illinois University, I moved back to Chicago to be close to my family, who all live nearby. I currently work as a senior director of client services for ADP (a payroll company). In my free time, I enjoy running, biking, being outdoors, watching all the Oscar nominated movies and spending as much time as possible with family, friends and our dogs.</p>
		</div>
		<div class="image">
			<img src="<%= asset_path 'jeff4.jpg' %>" alt="" />
		</div>
	</section>

	<!-- ABOUT US -->
	<section id="shade" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
		<div class="content">
			<h2>ABOUT US</h2>
			<p>We met on Caribbean vacation over eight years ago. We became friends instantly and started dating more than five years ago. Our first date was at the dog beach, with our dogs, Mister and Russell. Since then, we discovered we had a lot in common. We both love to travel, to cook (and eat), and we enjoy all the things the city has to offer. We also have similar values and shared aspirations of creating a family. We enjoy exploring the city’s parks and beaches with our dogs.  After a short time together, we fell in love. We have been together now for over five years, and we recently celebrated our one year wedding  anniversary.</p>
		</div>
		<div class="image">
			<img src="<%= asset_path 'aboutus.jpg' %>" alt="" />
		</div>
	</section>

	<!-- FAMILY -->
	<section class="spotlight style1 orient-left content-align-left image-position-right onscroll-image-fade-in">
		<div class="content">
			<h2>FAMILY</h2>
			<p>Family is extremely important to us and was a huge part of both of our upbringings and remains so to this day. From early on in our relationship, we knew we both wanted to provide the same joy and unconditional love we’d experienced. We have spent countless hours dreaming of the day we would start our own family.  We long to be parents and to give a child all our love and provide them with all the opportunity life has to offer.</p>

			<p>We spend as much time as possible with our families, and are lucky to have two twin nephews (Henry and Rocco, age 6) on Jeff’s side. We also enjoy spending time with RJ’s niece, Annika (age 11) and nephew, Luka (age 15). We regularly cheer on Jeff’s nephews at little league and hockey and enjoy baking, fishing, hiking and exploring Chicago’s museums with RJ’s niece and nephew.  
				Our families are both very excited to welcome a precious baby into our world, and can’t wait for him or her to be a part of our family.</p>
			</div>
			<div class="image">
				<img src="<%= asset_path 'family3.jpg' %>" alt="" />
			</div>
		</section>					

		<!-- ABOUT ADOPTION -->
		<section id="shade" class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
			<div class="content">
				<h2>ABOUT ADOPTION</h2>
				<p>RJ’s mom, Dorothy, was very influential in our decision to pursue an open adoption. She placed a child for adoption before my sister and I were born. At that time, adoptions were primarily closed and my mom never had an opportunity to discover anything about her son.  While she always knew she had made the right choice, she wished she had the chance to learn more about him.  This personal adoption experience has made us strong believers in open adoption, and the level of comfort and understanding it allows.    Sadly, Dorothy died last year and was never able to find him. However, I am hopeful that someday I will find my half-brother and tell him what a wonderful woman my mom was, and how much she cared for him in making an adoption plan.</p>
			</div>
			<div class="image">
				<img src="<%= asset_path 'withdorothy.jpg' %>" alt="" />
			</div>
		</section>

		<!-- OUR NEIGHBORHOOD -->
		<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
			<div class="content">
				<img src="<%= asset_path 'skyline.svg' %>", width="60%">
				<h2>OUR NEIGHBORHOOD</h2>
				<p>We love our lives in Chicago and live in a very diverse neighborhood on the north side. We have a lot of family and friends in the city and we enjoy spending as much time with them as possible. Since Jeff’s family is all nearby, we get together with them for family dinners on a weekly basis. We care very much about our friends, who make up a diverse group and many of whom now have children of their own. Living in Chicago provides us with such great opportunities and the ability to have enriching, fun, child-friendly experiences with kids all the time.</p>
			</div>
			<div class="image">
				<img src="<%= asset_path 'neighborhood2.jpg' %>" alt="" />
			</div>
		</section>

		<!-- OUR PROMISE -->
		<section id="shade" class="wrapper style1 align-center">
			<div class="inner">
				<h2>OUR PROMISE TO YOU</h2>
				<p>You have our promise that we will encourage our child to follow their dreams, support their choices and guide them along the way. We will provide them with stability, security and opportunity, but most of all, we will provide them with unconditional love and support through all of the joys and challenges life brings. We are so excited to create a close-knit family, just as we had when we were kids. We have so much to offer as dads and would be honored to have the opportunity to show you.  Thank you again for considering us. We look forward to meeting you.</p>
			</div>


			<!-- Gallery -->
			<div class="gallery style1 small lightbox onscroll-fade-in">
				<article>
					<a href="<%= asset_path 'rj-jeff-1-full.jpg' %>" class="image">
						<img src="<%= asset_path 'rj-jeff-1-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'wedding2-large.jpg' %>" class="image">
						<img src="<%= asset_path 'wedding2-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'rj-jeff-2-full.jpg' %>" class="image">
						<img src="<%= asset_path 'rj-jeff-2-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'rj-jeff-3-full.jpg' %>" class="image">
						<img src="<%= asset_path 'rj-jeff-3-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'rj-jeff-4-full.jpg' %>" class="image">
						<img src="<%= asset_path 'rj-jeff-4-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'rj-jeff-5-full.jpg' %>" class="image">
						<img src="<%= asset_path 'rj-jeff-5-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'bw-large.jpg' %>" class="image">
						<img src="<%= asset_path 'bw-thumb.jpg' %>" alt="" />
					</a>
				</article>
				<article>
					<a href="<%= asset_path 'wedding-large.jpg' %>" class="image">
						<img src="<%= asset_path 'wedding-thumb.jpg' %>" alt="" />
					</a>
				</article>
			</div>
		</section>


		<section class="wrapper style1 align-left">
			<div class="inner">
				<h2>QUESTIONS AND ANSWERS</h2>
				<p><span class="question">Why do we want to adopt?</span><br>
				Starting a family was a life-long dream of ours. We have so much to share with a child, that we can't wait to be dads. Throughout this process, we have always felt that adoption was our best option. We want to give a child the unconditional love, support and nurturing that has been given to us, so that he/she can live the best life possible.</p>
				
				<p><span class="question">Why would we make a good adoptive family?</span><br>
				We are a loving, caring, energetic, responsible, and fun couple. We get so much joy from being around our nieces, nephews and friends' children that we can’t wait to start a family and be dads. We enjoy our lives to the fullest but know that a child would bring us so much joy and happiness. Our friends and families are so excited to welcome a new addition to the family, and would shower us with love and support.</p>
				
				<p><span class="question">Where do we live?</span><br>
				We live in a diverse neighborhood called Edgewater on the north side of Chicago. We love our neighborhood and are very close to a lot of city parks, playgrounds, shops, restaurants and cafes.</p>
				
				<p><span class="question">Would we like to adopt a boy or a girl?</span><br>
				We would be delighted to adopt either a boy or a girl.</p>
				
				<p><span class="question">Do we have a set race or ethnic background in mind?</span><br>
				We do not have a race or ethnicity preference and are open to any racial or ethnic background. However, if we adopt a baby of another race or ethnicity, we would seek out resources, including support systems, friends and role models for the child to ensure that they had a supportive racial network. We value diversity and would always choose to live in a diverse neighborhood that was inclusive and open, so that had the child grew up with the best environment possible.</p>
				
				<p><span class="question">Are we looking only in Illinois (where we live)? Are you considering an international adoption?</span><br>
				No - we are looking to adopt from anywhere in the United States. We are not considering an international adoption. We would like to adopt domestically (from the US).</p>
				
				<p><span class="question">What age child will we consider for adoption?</span><br>
				Our goal is to adopt an infant 0-12 months old.</p>

				<p><span class="question">Would we consider siblings or multiples?</span><br>
				Yes, we would consider siblings or twins.</p>
				
				<p><span class="question">Are we working with an adoption agency?</span><br>
				Yes. We are working with an agency in Chicago, Illinois. Through the agency, we have completed a series of adoption classes, background checks and a home study. We are also certified in infant CPR and first aid.</p>
				
				<p><span class="question">Have we been approved by a state agency?</span><br>
				With the recent changes in laws in Illinois, we are approved by our adoption agency through a home study. However, it is no longer necessary for us to be a licensed foster care home through the state of Illinois.</p>
				
				<p><span class="question">Are we planning a closed or open adoption?</span><br>
				We are open to however much or little communication and contact the birth parents would like to have. Our intention is that our child will always know his or her birth parents, and we will be happy to provide the birth parents with regular communication, photos, texts and in-person meetings.</p>
				
				<p><span class="question">I am considering placing my child for adoption and I would like to contact RJ and Jeff. What should I do next?</span><br>
				If you or someone close to you is considering placing your child for adoption, please contact us at <a href="mailto: rjandjeff@gmail.com">rjandjeff@gmail.com</a> or call <a href="tel:1-773-727-3152">773-727-3152</a>.</p>
			</div>
		</section>

		<!-- Footer -->
		<footer class="wrapper style1 align-center">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://www.facebook.com/rjandjeffadopting/?pnref=story.unseen-section" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="mailto: ronjhazen@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<p class="byline">Made with ❤ by Scott Galetto</p>
			</div>
		</footer>

	</div>

<script>
$( document ).ready(function() {
	$('.signature').addClass('animated fadeInUp');
});
</script>
